@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300&display=swap");

:root {
  --primary-color: #fefffe;
  --secondary-color: #e9ebf8;
  --text-color: #000;
  --background-color: #a5a299;
  --button-color: #b4b8c5;
  --secondary-button-color: #8d818c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
