@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300&display=swap");

:root {
  --color-1: #a7c1e4;
  --color-2: #80a1c4;
  --color-3: #e1f2fe;
  --color-4: #4a4e69;
  --color-5: #152642;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
