@import "../../index.css";

#navbar.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  background: transparent;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
}

#navbar.navbar.scrolled {
  background-color: var(--color-4);
}

#navbar.navbar.scrolled a {
  color: var(--color-3);
}

#navbar a {
  color: var(--color-5);
  font-size: 1.2rem;
  font-weight: 400;
}

.navbar-brand img {
  width: 60px;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-right: 14px;
}

.nav-link {
  color: var(--color-5);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  border-bottom: 1px solid var(--color-4);
}

#navbar.navbar.scrolled .nav-link:hover {
  border-bottom: 1px solid var(--color-3);
}

.nav-buttons button {
  padding: 6px 12px;
  font-size: 1rem;
  background: var(--color-4);
  color: var(--color-3);
  border: none;
  margin-right: 8px;
  cursor: pointer;
}

#navbar.navbar.scrolled .nav-buttons button {
  background: var(--color-3);
  color: var(--color-4);
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-nav {
    display: none;
    flex-direction: column;
  }

  .navbar-brand {
    font-size: 1rem;
  }
}
